<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light info">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Navbar</span>
        </div>
      </nav>
    </div>
    <div class="col 12">
      <div class="row">
        <div class="col-6 offset-2 m-auto">
          <div class="m-auto d-flex justify-content-center">
            <img src="https://www.meteored.com.bo/css/images/new/team/new_logo_adaptative.png" class="img-thumbnail m-auto" style="max-width: 200px; max-height: 200px;" alt="...">
          </div>
        </div>
        <div class="col-6">
          <app-buscador></app-buscador>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>